@tailwind base;
@tailwind components;
@tailwind utilities;

ul li button{
    gap: 1.25rem;
    font-size: 1.3rem;
   justify-content: center;
   margin-left: 2rem;
}
ul li{
    transition: all .5s ease-in-out;
}
ul li:hover {
    background-color: #FEBB22;
    border-radius: 5px;
    padding: .5rem;
    cursor: pointer;
}
.active {
    @apply text-[#febb22]
}
.active:hover{
    color: white;
}
.green{
    color: #537D3C;
}
.bg-green{
    background-color: #537D3C;
}
.bg-yellow{
background-color: #FEBB22;
}
.info::-webkit-scrollbar{
display: none;
}